* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
    }
nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      background-color: #0c0e11;
      color: #ffffff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 40px;
      margin-right: 10px;
    }

    .logo span {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav-links {
      display: flex;
      gap: 1.5rem;
    }
    .nav-links a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
    }

    .nav-links a:hover {
      color: rgb(68, 173, 214);
    }

    .search-box {
      position: relative;
    }
    .search-box input {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 20px;
      outline: none;
      width: 200px;
      transition: width 0.4s ease;
    }

    .search-box input:focus {
      width: 250px;
    }


    .footer {
  background-color: #00060e;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}

.footer-section {
  flex: 1 1 250px;
}

.footer-section h2,
.footer-section h3 {
  color: #65c4f0;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #84d4f8;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #65c4f0;
  font-size: 0.9rem;
  color: #e3e7e7;
}









 